<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Weather App</title>
</head>

<body>
    <p>Test text</p>
    <form>
        <label for="destination-city">Destination City</label>
        <input type="text" id="destination-city" placeholder="Enter destination city here">
        <label for="departure-date">Departure Date</label>
        <input type="date" id="departure-date">
        <input type="submit" id="submit-button">
    </form>



</body>

</html>