$primary-colour: #ff6600;
$shadow-colour: #803300;
$card-colour: rgba(255, 240, 230, 0.5);
$h1-text-size: 3rem;
$h2-text-size: 2.5rem;
$reg-text-size: 2rem;

.forecast-card-container {
    grid-area: 4/1/5/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    padding: 20px;
}

.forecast-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid $primary-colour;
    border-radius: 50px;
    background-color: $card-colour;
    box-shadow: 5px 5px 5px $shadow-colour;
    padding: 5px;
    font-size: $reg-text-size;

    .icon {
        border: 2px solid $primary-colour;
        margin-bottom: 10px;
        padding: 5px;
        border-radius: 50%;
        box-shadow: 3px 3px 3px $shadow-colour;
    }
}

@media (min-width: 750px) and (max-width: 1099px) {
    
    .forecast-card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1100px) {

    .forecast-card-container {
        grid-template-columns: repeat(3, 1fr);
    }
}