$primary-colour: #ff6600;
$shadow-colour: #803300;
$focus-colour: powderblue;
$h1-text-size: 3rem;
$h2-text-size: 2.5rem;
$header-text-size: 5rem;
$footer-text-size: 3rem;
$reg-text-size: 2rem;

h1 {
    font-size: $h1-text-size;
    padding: 0 10px;
}

h2 {
    font-size: $h2-text-size;
    margin: 10px;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 1fr auto;
    height: 100vh;
    margin: 0;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

header {
    grid-area: 1/1/2/2;
    color: $primary-colour;
    font-size: $header-text-size;
    padding: 10px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 2px $shadow-colour;
}

form {
    grid-area: 2/1/3/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: $reg-text-size;

    input {
        padding: 5px;
        margin: 5px 20px 20px 20px;
        font-size: $reg-text-size;
        font-family: 'Indie Flower', cursive;
        border: 2px solid $primary-colour;
        border-radius: 5px;

        &:focus,
        &:hover {
            border: 2px solid $focus-colour;
            border-radius: 5px;
            outline: none;
        }
    }

    .radio {
        display: flex;
        flex-direction: row;
        align-items: center;

        [type="radio"] {
            appearance: none;
            margin-bottom: 5px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            vertical-align: middle;
            border: 2px solid $primary-colour;
            transition: 0.3s;

            &:hover {
                border: 9px solid $focus-colour;
            }

            &:checked {
                border: 9px solid $primary-colour;
            }

            &:focus {
                outline: 2px solid $primary-colour;
            }
        }

        #metric {
            margin-right: 20px;
        }
    }

    #submit-button {
        background-color: $primary-colour;
        color: white;
        cursor: pointer;
        border-color: black;
        border-radius: 10px;
        padding: 0 30px;
        margin-top: 20px;
        font-size: $reg-text-size;
        opacity: 0.6;
        transition: 0.3s;

        &:hover,
        &:focus {
            opacity: 1;
        }

        &:active {
            background-color: $focus-colour;
        }
    }
}

#results-container {
    grid-area: 3/1/4/2;
    margin-top: 30px;
}

#forecast-card-container {
    grid-area: 4/1/5/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    padding: 20px;
}

.forecast-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid $primary-colour;
    border-radius: 10px;
    box-shadow: 5px 5px 5px $shadow-colour;
    padding: 5px;
    font-size: $reg-text-size;

    .icon {
        border: 2px solid $primary-colour;
        margin-bottom: 10px;
        padding: 5px;
        border-radius: 50%;
        box-shadow: 3px 3px 3px $shadow-colour;
    }
}

footer {
    grid-area: 5/1/6/2;
    color: $primary-colour;
    font-size: $footer-text-size;
    padding: 10px;
    text-shadow: 1px 1px 1px $shadow-colour;
}

@media (min-width: 750px) and (max-width: 1099px) {
    
    #forecast-card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1100px) {

    #forecast-card-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1000px) {

    #results-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 30px;
    }

    #location-image-container {
        margin-top: auto;
        margin-bottom: auto;
    }
}