$primary-colour: #ff6600;
$shadow-colour: #803300;
$h1-text-size: 3rem;
$h2-text-size: 2.5rem;
$h3-text-size: 2.0rem;
$header-text-size: 5rem;
$footer-text-size: 3rem;
$reg-text-size: 2rem;

h1 {
    font-size: $h1-text-size;
    padding: 0 10px;
}

h2 {
    font-size: $h2-text-size;
    margin: 10px;
}

h3 {
    font-size: $h3-text-size;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 1fr auto auto;
    height: 100vh;
    margin: 0;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

header {
    grid-area: 1/1/2/2;
    color: $primary-colour;
    font-size: $header-text-size;
    padding: 10px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 2px $shadow-colour;
}

.results-container {
    grid-area: 3/1/4/2;
    margin-top: 30px;
}

.api-logo-container {
    grid-area: 5/1/6/2;
    display: flex;
    flex-direction: column;
    align-content: center;

    .logo {
        height: 50px;
        margin-bottom: 20px;
    }
}

footer {
    grid-area: 6/1/7/2;
    color: $primary-colour;
    font-size: $footer-text-size;
    padding: 10px;
    margin-top: 40px;
    text-shadow: 1px 1px 1px $shadow-colour;
}

@media (min-width: 1000px) {

    .results-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 30px;
    }

    .location-image-container {
        margin-top: auto;
        margin-bottom: auto;
    }

    .api-logo-container {
        flex-direction: row;
        align-content: center;
        justify-content: space-around;
        margin-top: 40px;

        .api-link {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}
